@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

.threadDetailUserContainer {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 24px 40px;
}

.buttonActionProfileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.buttonFIlter1 {
    display: flex;
    /* gap: 7px; */
}

.buttonHot {
    display: flex;
    width: 65px;
    height: 22px;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: #e06044;
    padding: 5px 12px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    background-color: #f7daf2;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 10px;
}

.buttonPopular {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: #9589de;
    padding: 5px 12px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    background-color: #ebf4fa;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 10px;
}

.buttonMusic {
    font-size: 12px;
    background-color: #f2f2f2;
    padding: 5px 15px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}

.followButtonThread {
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color: #f5f8fd;
    padding: 0px 7px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    color: #607cc5;
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    border: none;
}

.followText {
    padding: 0px 10px;
}

.foto {
    border-radius: 50%;
    margin-right: 12px;
    flex: 0 0 34px;
    width: 34px;
    height: 34px;
    display: inline-block;
}

.identitas {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.nama {
    left: 87px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    top: 6px;
}

.keterangan {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 14px;
}

.piano {
    width: 74%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.caption {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.bawah {
    display: flex;
    margin-top: 20px;
}

.btnVote {
    width: 31%;
    height: 30px;
    font-size: 12px;
    color: #070606;
    padding: 1px 12px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    background-color: #f5f8fd;
    border: none;
    border-radius: 8px;
    display: flex;
}

.angkaPanah {
    color: #1e8ac6;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 8px;
}

.dislike {
    margin: auto;
    color: #828282;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 0px;
}

.panahBawah {
    margin-left: 6px;
    width: 28px;
    cursor: pointer;
}

.panahnya {
    cursor: pointer;
}

.comment {
    margin: auto 0px;
    color: #828282;
    margin-right: 0px;
}

.dislikeGroup {
    display: flex;
    border-right: 1px solid #b4c0de;
    border-left: 1px solid #b4c0de;
   
}

.commentImage {
    padding-left: 8px;
}

.tanggal {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #828282;
    margin: auto;
    margin-left: 360px;
}
