@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #254557;
    opacity: 0.8;
}

.icon1 {
    position: absolute;
    width: 12.6%;
    height: 4.89%;
    left: 43.68%;
    top: 5.7%;
}

.table {
    position: absolute;
    width: 44.44%;
    height: 47.09%;
    left: 27.77%;
    top: 17.12%;
    border-radius: 4px;
    background: white;
}