.profileUserContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    border-radius: 4px;
    z-index: 10;
    background-color: #ffffff;
    margin: 10px 0px;
    box-shadow: rgba(99, 99, 99, 0.15) 0px 5px 15px 0px;
}

.profileTitle {
    padding: 20px 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: 5px;
    border-bottom: 0.2px solid #999999;
    /* font-size: 24px; */
}

.formEditWrapper {
    margin: 0 5%;

    padding-left: 10px;
}

.formEditProfile {
    padding: 10px 0px 30px 0px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    line-height: 20px;
    padding-right: 15px;
}

.emailDisabled {
    background-color: #f2f2f2;
    color: #333333;
    cursor: not-allowed;
}
/* .inputAva {
    visibility: hidden;
} */

.inputAva::before {
    content: "Select some files";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.inputAva:hover::before {
    border-color: black;
}

.inputAva:hover::after {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.formEditProfile button {
    width: 35%;
    height: 30px;
    float: right;
    border-radius: 3px;
    background-color: #1e8ac6;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(48, 91, 114, 0.3);
    margin: 40px 0px;
    font-size: 14px;
    border-color: #1e8ac6;
    border: none;
    transition-duration: 0.1s;
    transition-property: transform;
    cursor: pointer;
}

.loaderUserEditContainer {
    text-align: center;
    float: right;
    width: 35%;
    margin: 20px 0px;
}

.loaderUserEdit {
    width: 50px;
}
.formEditProfile button:active {
    transform: scale(0.98);
}

.formEditProfile button:hover {
    background-color: #2980af;
}
