.repliesContainer {
    border: 1px solid #b4c0de;
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 40px;
}

.repliesWrapper {
    margin: 15px 0px 0px 0px;
    /* border-bottom: 1px solid #B4C0DE; */
}

.commentImg {
    width: 20%;
}
.repAvatar {
    width: 5% !important;
    height: 32px !important;
    margin-right: 10px;
    cursor: pointer;
}

.repliestRightPart {
    display: flex;
    align-items: center;
}

.repliesAuthor {
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.repliesTimes {
 color: #BDBDBD;
 font-size: 14px;
}

.repliesText {
    margin-left: 40px;
    margin-top: 5px;
}

.repliesActionContainer {
    display: inline-flex;
    background-color: #f5f8fd;
    padding: 5px 0px;
    border-radius: 8px;
    margin: 10px 0px 0px 40px;
}

.repliesAction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
    gap: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
}
.repliesAction:active {
    transform: scale(0.9);
}


.formReplies {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avaReplies {
    width: 5% !important;
    height: 32px !important;
}

.inputReplies {
    width: 100%;
    border: 1px solid #e0e0e0;
    /* justify-content: center; */
    padding: 10px 5px;
    top: 16px;
    height: 40px;
    border-radius: 4px;

}

.postBtn {
    padding: 8px 10px;
    width: 90px;
    border-radius: 4px;
    /* margin-bottom: 15px; */
    box-shadow: rgba(41, 132, 182, 0.1) 0px 5px 15px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    /* margin-left: 35px; */
    background-color: #1e8ac6;
    border: none;
    color: #fff;
    /* margin-left: 10px; */
}

.subRepliesBtn {
    width: 90%;
    display: flex;
    border: 1px solid #b4c0de;
    padding: 10px 10px;
    margin: 10px 40px 0px 40px;
    background-color: #fcfdff;
    color: #3b4d7a;
    cursor: pointer;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20px;
    margin: 20px 80px;
}

.loaderContainer img {
    width: 40px;
}