@keyframes pulse {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.9;
    }
}

.parentSkeleton {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    animation: pulse 2s infinite;
}

.skeletonA {
    width: 90%;
    margin: auto;
}

.skeleton1 {
    background: #e0e0e0;
    width: 15%;
    height: 20px;
    border-radius: 4px;
    margin-top: 4%;
}

.skeleton2 {
    display: flex;
    position: relative;
}
.skeleton21 {
    background: #e0e0e0;
    width: 55%;
    height: 20px;
    border-radius: 4px;
    margin-top: 2%;
}
.skeleton22 {
    background: #e0e0e0;
    width: 36%;
    height: 20vh;
    border-radius: 4px;
    position: absolute;
    right: 0%;
    top: 12px;
}

.skeleton3 {
    display: flex;
    margin-top: 2%;
}
.bulat {
    background: #e0e0e0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.saudaraBulat {
    width: 16%;
    height: 20px;
    background: #e0e0e0;
    border-radius: 4px;
    margin-top: 0.5%;
    margin-left: 1%;
}

.skeleton4 {
    width: 40%;
    height: 12vh;
    background: #e0e0e0;
    margin-top: 2%;
    border-radius: 4px;
}
.skeleton5 {
    width: 40%;
    height: 12vh;
    background: #e0e0e0;
    margin-top: 2%;
    border-radius: 4px;
    margin-bottom: 4.5%;
}

.imgGaris {
    width: 100%;
    margin-top: 4%;
}
