@import '../../component/assets/color/Color';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

.trending {
    width: 278px;
    height: 530px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    position: absolute;
    left: 50%;
}

.garis {
    width: 246px;
    left: 16px;
    top: 64px;
}

.garis2 {
    width: 246px;
    left: 16px;
    top: 125px;
    position: absolute;
}

.garis3 {
    width: 246px;
    left: 16px;
    top: 185px;
    position: absolute;
}

.garis4 {
    width: 246px;
    left: 16px;
    top: 260px;
    position: absolute;
}

.garis5 {
    width: 246px;
    left: 16px;
    top: 320px;
    position: absolute;
}

.garis6 {
    width: 246px;
    left: 16px;
    top: 380px;
    position: absolute;
}

.garis7 {
    width: 246px;
    left: 16px;
    top: 455px;
    position: absolute;
}

.text {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    top: 12px;
    left: 16px;
}

.arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
}

.value {
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: $primary;
    font-style: normal;
    position: absolute;
    left: -3px;
    top: 7px;
}

.panah {
    position: absolute;
    top: 80px;
    left: 16px;
    height: 20px;
}

.panah2 {
    position: absolute;
    top: 138px;
    left: 16px;
}

.panah3 {
    position: absolute;
    top: 196px;
    left: 16px;
}

.panah4 {
    position: absolute;
    top: 274px;
    left: 16px;
}

.panah5 {
    position: absolute;
    top: 334px;
    left: 16px;
}

.panah6 {
    position: absolute;
    top: 394px;
    left: 16px;
}

.panah7 {
    position: absolute;
    top: 472px;
    left: 16px;
}

.text2, .text3, .text4, .text5, .text6, .text7, .text8 {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    width: 210px;
    text-align: left;
    top: 62px;
    left: 50px;
}

.text3 {
    top: 120px;
}

.text4 {
    position: absolute;
    top: 178px;
}

.text5 {
    position: absolute;
    top: 258px;
}

.text6 {
    position: absolute;
    top: 316px;
}

.text7 {
    position: absolute;
    top: 374px;
}

.text8 {
    position: absolute;
    top: 454px;
}