@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;1,200&display=swap");

.container-dropzone {
  font-family: "Nunito", sans-serif;
}

form {
  padding: 2rem;
}

.tambahBorder {
  border: 1px solid black;
  margin-top: 20px;
}

.btn-upload {
  border: none;
  margin-top: 20px;
}

.btn-upload-submit {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  transition-duration: 0.1s;
  transition-property: transform;
  margin-left: 40%;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  border: 1px solid #1e8ac6;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: #1e8ac6;
    color: #fff;
  }
}

.loader-cover {
  max-width: 40px;
  margin-left: 45%;
  margin-top: 4px;
}

.btn-upload-submit:active {
  transform: scale(0.97);
}
