.welcomeContainer {
    width: 38%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 9;
    text-align: center;
    padding: 60px 0px;
    border-radius: 4px;
    .welcomeBoard {
        font-size: 32px;
        font-weight: bold;
    }
    .emailInfo {
        font-size: 14px;
        padding: 10px;
    }
    .buttonwelcomeAction {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 10px 0px;

        button {
            color: rgb(0, 0, 0);
            padding: 7px 20px;
            border: 1px solid #1e8ac6;
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                background-color: #1e8ac6;
                color: #fff;
            }
        }
    }
}
